# Railway MySQL
DATABASE_URL="postgres://d55696b49e0c8c87e3fee3f973d269b0cc4190345c34f5524ccfdf7d63f3267d:sk_ct8zgr1waHcM784D8OJ8G@pooled.db.prisma.io:5432/postgres?sslmode=require"

# Security
JWT_SECRET="สร้างด้วย: openssl rand -base64 32"
ADMIN_PIN="25362536"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
